<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="2340" android:versionName="2.3.4.0" android:installLocation="auto" package="com.vipercn.viper4android_v2" platformBuildVersionCode="21" platformBuildVersionName="APKTOOL"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:persistent="true" android:allowBackup="true">
        <activity android:theme="@style/AppTheme" android:label="@string/app_name" android:name=".activity.ViPER4Android" android:screenOrientation="nosensor" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".service.ViPER4AndroidService" android:enabled="true" android:exported="false" />
        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>